body {
  margin-left: 1%;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  line-height: 1.6;
}

.header {
  text-align: center;
}

#date {
  font-style: italic;
}

#letter__content {
  max-width: 50%;
}
