* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: cursive;
}

body {
  margin-top: 40px;
}

#container {
  border: 2px solid rgb(59, 129, 219);
  margin: 10px 100px;
}

header {
  text-align: center;
  color: rgb(59, 129, 219);
  position: absolute;
  top: 15px;
  left: calc(50% - 115px);
  background-color: white;
  padding-left: 35px;
  padding-right: 35px;
}

.main {
  display: flex;
  margin-bottom: 40px;
  margin-top: 70px;
  color: rgb(7, 78, 170);
}

.resume__left {
  /* border: 2px solid blue; */
  padding: 20px;
  border-right: 2px solid rgb(7, 78, 170);
  max-width: 50%;
}

.resume__right {
  /* border: 2px solid blue; */
  padding: 20px;
}

.resume__section {
  margin: 20px 0;
}

ul {
  padding-left: 20px;
}

.work--experience__company {
  margin: 15px 0px;
}

.work--experience__company--name {
  font-size: 18px;
  display: inline-block;
  margin: 5px 0px;
}

.resume__subheading {
  margin-bottom: 8px;
}

.academics__institute {
  margin-bottom: 10px;
}

.academics__institute__name {
  margin-bottom: 5px;
}
