body {
  background-color: #ebd4cb;
  padding: 0;
  margin: 0;
}

main {
  margin: 0 40px 40px 40px;
}

header {
  display: flex;
  padding-bottom: 30px;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.header__section {
  margin-left: 15px;
}

.topStrip {
  background-color: cadetblue;
  height: 20px;
  width: 30%;
  border-radius: 15px 15px 0 0;
  margin-bottom: 10px;
}

.booking--section {
  font-size: 30px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  /* width: 30%; */
}

.content {
  display: flex;
  background-color: #c24a2cc7;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.box {
  width: 14vw;
  height: 150px;
  background-color: #793322c7;
  margin: 5px;
}

.box:hover {
  background-color: #ac6958c7;
}

.clicked {
  background-color: #521607c7;
}
