.doc-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.doc-container button {
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
}
