.health-main {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.health-container {
  height: 60vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 15px;
}

.health-card-delete p {
  font-size: 24px;
}

.health-card-header {
  display: flex;
  justify-content: space-between;
}

.health-card-header button {
  padding: 0.8rem;
  width: 5rem;
  cursor: pointer;
  background-color: #d62929;
  color: #f5f5f5;
  font-size: 1.1rem;
  border-radius: 10px;
}

/*
 *  STYLE 2
 */

.health-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.health-container::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.health-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  /* background-color: #555; */
  background-color: #d62929;
}

.health-card-delete {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px;
  margin: 20px;
  color: aliceblue;
  background-color: #31434d;
  border-radius: 10px;
  width: 90%;
}
